<!DOCTYPE html>
<html>
<head>
	<title>I_LOVE_WEB_INJECTIONS</title>
  <link href= "{{ url_for('static',filename='styles/hacker.css') }}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='utf-8'/>
</head>
<body>
	<div>
    <div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Hello </h1>
        <h2>My Little Lovers Of Web Perversions !</h2>
        <p>This is an interesting site with very funny pages.</p>
        <p>I wish you good luck in your search!</p>
        <p>You can test /sib_coder && /robot.txt<p>
        <p>P.S. : do not use it "dirsearch"- I have protected the site from this.</p>
    </div>

	</div>
</body>
</html>
